<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAW2T3bjYFEdImEYN9PNcZatN84gW34L2o</string>
	<key>GCM_SENDER_ID</key>
	<string>1078840760756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blackcofferAssignment.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>asignment1-e0e9a</string>
	<key>STORAGE_BUCKET</key>
	<string>asignment1-e0e9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078840760756:ios:82b8363e17075052f0fae1</string>
</dict>
</plist>